*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    color: black;
    font-family: "Montserrat", sans-serif;
}

header nav{
  background-color: black;
  display: flex;
  justify-content:center 
}
a{
    color: white;
}
ul{
    display: flex;
    gap: 70px;
    padding: 12px;
    justify-content: center;
}
.perfil-info{
    display: flex;
    gap: 100px;
    padding:10px;
}
.texto-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tudo-sobre{
    display: flex;
    gap: 30vw;
    padding: 10px;
    
}
#Sobre{
     display: flex;
    flex-direction: column;
    align-items: center;
}
.tudo-sobre p{  
    width: 900px;
    font-size:larger
    
}
#Projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-projetos{
    display: flex;
  gap: 800px;
}
.card p{
    text-align: center;
}
#Contatos{
    display: flex;
  align-items: center;
  flex-direction: column;
}
.form{
 display: flex;
}
